<div class="container mt-4">
  <div class="row">
    <div class="col-lg-3 mt-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <h3 class="fw-normal mb-0 text-black">Update User Details</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="needs-validation" [formGroup]="userInfoForm" (ngSubmit)="updateUserInfo()" novalidate>
              <div class="mb-3 row">
                <label for="inputFname" class="form-label">Your Name</label>
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="fName" id="inputFname">
                  <span class="text-danger" *ngIf="userInfoFormCtrl['fName'].errors?.['required'] && (userInfoFormCtrl['fName'].touched || userInfoFormCtrl['fName'].dirty)">
                    First name is required
                  </span>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="lName" id="inputLname">
                  <span class="text-danger" *ngIf="userInfoFormCtrl['lName'].errors?.['required'] && (userInfoFormCtrl['lName'].touched || userInfoFormCtrl['lName'].dirty)">
                    Last name is required
                  </span>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col">
                  <label for="inputEmail" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" formControlName="email">
                  <span class="text-muted" *ngIf="userInfoFormCtrl['email'].errors?.['required']"> We'll never share your email with anyone else. </span>
                  <span class="text-danger" *ngIf="userInfoFormCtrl['email'].errors?.['required'] && (userInfoFormCtrl['email'].touched || userInfoFormCtrl['email'].dirty)">
                    Email id is required
                  </span>
                  <span class="text-danger" *ngIf="userInfoFormCtrl['email'].errors?.['email'] && userInfoFormCtrl['email'].touched" >
                    Please enter a valid Email ID
                  </span>
                </div>
                <div class="col">
                  <label for="inputPhone" class="form-label">Phone</label>
                  <input type="tel" class="form-control" id="inputPhone" placeholder="1234567890" formControlName="phone">
                  <!-- <span class="text-muted" *ngIf="userInfoFormCtrl['phone'].errors?.['required']"> We'll never share your phone with anyone else. </span> -->
                  <span class="text-danger" *ngIf="userInfoFormCtrl['phone'].errors?.['required'] && (userInfoFormCtrl['phone'].touched || userInfoFormCtrl['phone'].dirty)">
                    Phone id is required
                  </span>
                  <!-- <span class="text-danger" *ngIf="userInfoFormCtrl['phone'].errors?.['phone'] && userInfoFormCtrl['phone'].touched" >
                    Please enter a valid phone number
                  </span> -->
                </div>
              </div>

              <div class="mb-3 row">
                <div class="col">
                  <label for="inputRole" class="form-label">Customer Role</label>
                  <select class="form-select" id="inputRole" formControlName="role">
                    <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
                  </select>
                  <span class="text-danger" *ngIf="userInfoFormCtrl['role'].errors?.['required'] && (userInfoFormCtrl['role'].touched || userInfoFormCtrl['role'].dirty)">
                    role id is required
                  </span>
                </div>
                <div class="col">
                  <label for="dob" class="form-label">Date Of Birth</label>
                  <input type="date" class="form-control" formControlName="dob" id="dob">
                  <span class="text-danger" *ngIf="userInfoFormCtrl['dob'].errors?.['required'] && (userInfoFormCtrl['dob'].touched || userInfoFormCtrl['dob'].dirty)">
                    DOB id is required
                  </span>
                  <!-- <span class="text-danger" *ngIf="userInfoFormCtrl['dob'].errors?.['dob'] && userInfoFormCtrl['dob'].touched" >
                    Please enter a valid Email ID
                  </span> -->
                </div>
              </div>

              <div class="mb-3 row">
                <div class="col">
                  <span for="genRadios">Select Your Gender</span>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="genRadios" id="genRadios1" value="male" formControlName="genRadios">
                    <label class="form-check-label" for="genRadios1">
                      Male
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="genRadios" id="genRadios2" value="female" formControlName="genRadios">
                    <label class="form-check-label" for="genRadios2">
                      Female
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="genRadios" id="genRadios3" value="na" formControlName="genRadios" checked>
                    <label class="form-check-label" for="genRadios3">
                      Don't want to say
                    </label>
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col">
                  <label for="profileImageUpload" class="form-label">Upload Image</label>
                  <input type="file" class="form-control" formControlName="profileImage" id="profileImageUpload">
              </div>
                <div class="col">
                  <label for="dob" class="form-label"><!-- Existing or Uploaded image --></label>
                  <input type="text" class="form-control" readonly id="inputForImageLinkDisplay" formControlName="inputForImageLinkDisplay">
                </div>
              </div>
              <div class="mb-3">
                <label for="aboutUserTextarea" class="form-label">Description</label>
                <textarea class="form-control" id="aboutUserTextarea" placeholder="Some loved word about you" formControlName="aboutUser"></textarea>
              </div>
              <div class="mb-3 d-grid d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary" [disabled]="!userInfoForm.valid">Update</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
