<div class="mt-5 mb-2">
  <h2 class="pb-2 border-bottom">Product On Sale</h2>
  <!-- START PRODUCT DISPLAY -->
  <div class="row">
    <div class="col col-md-3 col-6 mb-2" *ngFor="let product of productList?.slice(-4);">
      <div class="card h-100">
        <!-- Product image-->
        <a href="product/view/{{product.id}}">
          <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}"  />
        </a>
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{product.name}}</h5>
            <!-- Product price-->
            &#8377; {{product.price}}
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="d-grid">
            <button class="btn btn-info me-2" type="button" (click)="addItemTocart(product.id)">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /END PRODUCT DISPLAY -->
</div>
